
@import "compass/css3";
*{
	box-sizing: border-box;
}

article, aside, main ,footer,nav, header {
   display: block;
} /* For older versions of navigators that dont support HTML5. Makes sure that the tag starts in a new line.*/


body, h1,h2,h3,h4,h5,h6,a,p,article,aside,footer,header,main,nav,section{

	padding: 0;
	margin: 0;
}

h4{
	font-size: 13px;
	text-align: center;
}




body{
	width: 960px;
	margin-left:auto;
	margin-right: auto; 
	margin-top: 2px;
	background-color: #e6e6e6;  /*#ffffcc; */
    overflow: auto;
   
    font-family: Neue Helvetica,Helvetica Neue,Helvetica,Arial;
}

main{
	background-color: orange;
}

li a{
	color: black;
	text-decoration: none;
	
}



ul li a{
	font-size: 10px;

}

p{
	 font-size: 9px;
	 padding: 9px
	
}

hr {
	text-align: center;
  border: 0;
  clear:both;
  display:block;
  width: 170px;               
  background-color: black;
  height: 1px;
  margin-top: 10px;
}




section,header{

	background-color: none;
    border: 1px solid grey;
	margin-top: 3px;
	padding: 1px;
	border-radius: 3px;

}
footer{

	width: 100%;
	height: 60px;
	float: left;

}

a.link:hover{
	text-decoration: underline;

}

.init{
	background-color: #669999;
	color: black;
	padding: 20px 20px;
	height: 100px;

}
.menu{
	    float: right;
    margin-top: -29px;
    margin-right: 50px;

}

.options{
	display: inline;
    font-variant: small-caps;
    font-weight: bold;
    margin-left: 49px;
}

.username{
  
  width: 30%;
  float: left;
  height: 500px;
  background-color: white;
  
}

.rightpart{
  
  width: 69.5%;
  float: right;
  height: 500px;
  background-color: white;
  
  
}

.amelie{
	border: 1px solid grey;
	border-radius: 50%;
    padding: 0px;
    margin-top: 14px;
    float: left;
    width: 66px;
    height: 66px;
    margin-left: 27px;
}

.apartado{
	width: 100%;
	padding: 5px;
	margin-top: 0px;
	float: left;
}


.recuadro{
	 margin-top: 9px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    float:left;
    margin-left: 13px;

}

.cruz{
	height: 10px;
	width: 10px;
	float: left;
	margin-left: -6px;
    margin-top: 4px;
}

.plus{
	    float: right;
    height: 11px;
    width: 10px;
    border: 0.8px solid black;
    border-radius: 2px;
    margin-top: -12px;

}

.linklist{
	float: left;
    font-size: 10px;
    list-style-type: none;
    
    font-size: 13px;
    margin-left: -32px;
    margin-top: 4px;
}

.socialimg{
	border-radius: 6px;	
	float: left;
    width: 25px;
    height: 22px;
    margin-left: 6px;
    margin-top: 3px;
}


a.highlight:hover {
    color: grey;
} 

.links{
	text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.links:hover{

	color: grey;
}

.links:active{
	color: grey;
}

.introtextpeq{
	width: 38%;
    float: left;
    margin-left: 46px;
    margin-top: 20px;
}

.introtextgra{
	width: 60%;
    margin-left: 46px;
    margin-top: 20px;
}

.formatocaja{
	border: 1px solid grey;
	border-radius: 3px;
	padding-left: 2px;
	color: #bfbfbf;
}

.circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid grey;
	float: left;
	margin-left: 46px;

}

#personalinfo{

	display: none;
}

#lastopinions{
	display: none;
}

#personalinfo:target{
     display: block;
}

#lastopinions:target{
	display: block;

}

/*#lastopinions:target > .disappear-pers{
	display: none;
}



.disappear-pers{
	display: none;

}

.disappear-last{

}*/

.last-recuadro{
       border: 2px solid grey;
    border-radius: 3px;
    float: left;
    width: 71%;
    height: 120px;
    margin-top: 23px;
    margin-right: 115px;
    margin-left: 94px;


}

.last-photo{
	     width: 111px;
    height: 89px;
    margin: 14px;
    margin-left: 20px;
    border-radius: 9px;
}



.refreshicon{
         float: left;
    margin: 45px;
    margin-left: 334px;
    width: 25px;
    height: 26px;


}

.titulo{
	width: 312px;
    float: right;
    margin-top: 20px;
    margin-left: 0px;
}

